<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>KateiSoudanSitsu</title>
    <!--stylesheet cssリンク-->
     <link rel="stylesheet" href="{{asset('/css/style.css')}}">

    <!--vegas cssリンク-->
    <link rel="stylesheet" href="{{asset('/css/vegas.min.css')}}">
    
    <!--vegas jsのリンク-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{asset('/js/vegas.min.js')}}"></script>

    <!--vegas zeptoのリンク-->
    <script src="http://zeptojs.com/zepto.min.js"></script>

    <!--bootstrap cssのリンク-->
    <link rel="stylesheet" href="{{asset('/css/bootstrap.css.map')}}">
    <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">

    <!--bootstrap jsのリンク-->
    <script src="{{asset('/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('/js/bootstrap.js.map')}}"></script>

    </head>
    <body>

        <!--ヘッダー部分の実装-->
        <div id="header">
            <h1 class ="header__logo">
                <img src="{{asset('/img/KSS.png')}}" alt="家庭相談室" title="家庭相談室">
            </h1>
        <nav class="menu">
            <ul class="header__nav">
                <li class="header__nav__txt"> <a href="">事業所一覧</a></li>
                <li class="header__nav__txt"> <a href="">新規登録フォーム</a></li>
                <li class="header__nav__txt"> <a href="">ログイン</a></li>
            </ul>
        </nav>

        <!--メイン画面-->
        <script>
        
        $(".vegas, body").vegas({
            slides: [
                { src: "/img/top1.png" },
                { src: "/img/top2.png" },
                { src: "/img/top3.png" }
            ],
            animation: [ 'kenburnsUp', 'kenburnsDown', 'kenburnsLeft', 'kenburnsRight' ]
        });

        </script>


        <div id="main">
            <h1><a href="index.html"><img id="corridor" src="images/corridor.jpg" alt="大学の廊下"/></a></h1>
        </div>

        <!--ナビゲーション部分の実装-->    
            <div id="nav">
                <ul>
                    <li><a href="home.html">事業案内</a></li>
                    <li><a href="#">相談内容</a></li>
                    <li><a href="#">サービス利用方法</a></li>
                    <li><a href="#">事業所一覧</a></li>
                    <li><a href="#">お問合せ</a></li>
                </ul>
            </div>
         <!--事業案内-->   
            <div id="information">
                <div id="info">
                    <div class="post">
                        <p>ここは文章が入ります。ここは文章が入ります。ここは文章が入ります。</p>
                        
                    </div>
                    <div class="post clearfix">
                        <h2>小見出し1</h2>
                        <img class="left" src="{{asset('/img/kss2.png')}}" alt="授業風景"/>
                        <p>
                            コンテンツ1の本文になります。コンテンツ1の本文になります。
                            コンテンツ1の本文になります。コンテンツ1の本文になります。
                            
                        </p>
                        <p><a href="#">→コンテンツ１のページへ</a></p>
                    </div>
                <div class="post clearfix">
                    <h2>小見出し２</h2>
                    <img class="right" src="{{asset('/img/kss2.png')}}" alt="天秤"/>
                    <p>
                        コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。
                        コンテンツ2の本文になります。コンテンツ2の本文になります。
                    </p>
                </div>
                </div>
                <!--相談内容-->
                <div id="main">
                    <div class="post">
                        <p>ここは文章が入ります。ここは文章が入ります。ここは文章が入ります。</p>
                        
                    </div>
                    <div class="post clearfix">
                        <h2>小見出し1</h2>
                        <img class="left" src="images/classroom.jpg" alt="授業風景"/>
                        <p>
                            コンテンツ1の本文になります。コンテンツ1の本文になります。
                            コンテンツ1の本文になります。コンテンツ1の本文になります。
                            
                        </p>
                        <p><a href="#">→コンテンツ１のページへ</a></p>
                    </div>
                <div class="post clearfix">
                    <h2>小見出し２</h2>
                    <img class="right" src="images/scale.jpg" alt="天秤"/>
                    <p>
                        コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。
                        コンテンツ2の本文になります。コンテンツ2の本文になります。
                    </p>
                </div>
                </div>
                <!--サービス利用方法-->

            </div>
            <div id="footer">
            <p>&copy; 20xx ○○ All Rights Reserved.</p>
            </div>
        </div>
    </body>
</html>